<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.backend.mapper.EmployeeProfileMapper">
    <select id="selectAllForSync" resultType="com.hr.backend.model.entity.EmployeeProfile">
        SELECT id, employee_no, name, dept_id, dept_name, job, category_id, value, period, create_time
        FROM employee_profile WHERE is_deleted = 0
    </select>
</mapper>
